.list-fade{
    width :100%;
    height : 100%;
    position : relative;
}

.list-group{
    width : 100%;
    position : absolute;
    top : -210px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.main-bg{
    padding : 100px 20px;
    background: lightgray;
}


.show{
    width : 100%;
    position : absolute;
    visibility: visible;
    top : 50px;
    opacity: 1;
}

.dark{
    background: black;
    color : white;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  opacity : 0;
  visibility: hidden;
  transition : opacity 0.5s ease-in-out;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.show-modal {
    opacity: 1;
    visibility: visible;
}